# Byte-compiled / optimized / compiled files
*.pyc
__pycache__/
*$py.class

# Django-specific files
*.log
*.pot
local_settings.py
db.sqlite3

# Media and static files
/media/
/static/
/static_collected/

# Virtual environments
.venv/
venv/
env/
.env

# IDE-specific files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Test and coverage files
.coverage
.tox/
.eggs/